<!-- <p>chat-detail-window works!</p> -->
<div class="d-flex flex-col flex-grow h-100">
    <!-- Header -->
    <div class="chat-details-header">
        <div class="my-1 d-flex justify-between w-100">
            <div class="d-flex flex-col justify-center">
                <div class="chat-header-title">
                    {{chatDetailAssets.title}}
                </div>
            </div>
            <div class="d-flex flex-col justify-center pointer" (click)="closeCard()">
                <img [src]="chatDetailAssets.close" height="35px" width="35px" alt="grpImage">
            </div>
        </div>
    </div>

    <!-- content -->
    <div class="d-flex flex-col flex-grow h-auto justify-evenly">
        <!-- icon & chat Name -->
        <div class="chat-details-sec-border d-flex justify-center">
            <div class="d-flex flex-col mb-1">
                <!-- profile icon & settings -->
                <div class="relative d-flex my-1">
                    <img [src]="chatDetailAssets.profile" height="80px" width="80px" class="border-rounded mt-1" />
                    <div class="absolute border-rounded chat-profile-settings pointer">
                        <img [src]="chatDetailAssets.settingsIcon" height="40px" width="40px" />
                    </div>
                </div>
                <!-- Chat Name -->
                <div class="chat-name-style text-center">{{chatDetailAssets.chatGrpName}}</div>
            </div>
        </div>

        <!-- description -->
        <div class="chat-details-sec-border">
            <div class="mx-2 mb-1 d-flex flex-col">
                <div class="chat-details-title mb-1">{{chatDetailAssets.descriptionTitle}}</div>
                <div class="chat-description">{{chatDetailAssets.description}}</div>
            </div>
        </div>

        <!-- Links -->
        <div class="chat-details-sec-border">
            <div class="mx-2 mb-1 d-flex justify-between">
                <div class="chat-details-title">{{chatDetailAssets.linkTitle}}</div>
                <a target="_blank" [href]="chatDetailAssets.link">{{chatDetailAssets.link}}</a>
            </div>
        </div>

        <!-- Members -->
        <div>
            <div class="mx-2 d-flex justify-between">
                <div class="chat-details-title">{{chatDetailAssets.membersTitle}}</div>
                <div class="d-flex justify-end">
                    <div class="border-rounded text-center chat-members" [ngStyle]="{'background-color': randomColor1}">{{membersShortList[0]}}</div>
                    <div class="border-rounded text-center chat-members" [ngStyle]="{'background-color': randomColor2, 'margin-left':'-14%'}">{{membersShortList[0]}}</div>
                    <div class="border-rounded text-center chat-members" [ngStyle]="{'background-color': randomColor3, 'margin-left':'-14%'}">+{{remainingMembs}}</div>
                </div>
            </div>
        </div>
    </div>
</div>