<div class="h-100 d-flex flex-col hidden-overflow">
    <!-- Header -->
    <div class="chat-details-header">
        <div class="my-1 d-flex justify-between w-100">
            <div class="d-flex flex-col justify-center">
                <div class="chat-header-title">
                    {{chatDetailAssets.title}}
                </div>
            </div>
            <div class="d-flex flex-col justify-center pointer" (click)="closeCard()">
                <img [src]="chatDetailAssets.close" height="35px" width="35px" alt="grpImage">
            </div>
        </div>
    </div>

    <!-- tabs -->
    <app-custom-tabs class="w-100" [tabs]='tabs' [selectedTab]='selectedtab' [onTabClick]="tabSwitch"></app-custom-tabs>

    <!-- Tab content -->
    <div class="media-scroll hidden-scroll w-100" [ngSwitch]="selectedtab">
        <div *ngSwitchCase="'Media'">
            <div class="media-grid">
                <div *ngFor="let images of staticMedia">
                    <img class="p-2 corner-rounded pointer" [src]="images.img" height="100px" width="100px" />
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'Links'">
            <div *ngFor="let link of links">
                <div class="link-item m-2">
                    <span>{{link.title}}</span>
                    <!-- <span>{{link.link}}</span> -->
                    <!-- <span>{{link.description}}</span> -->
                </div>
            </div>
        </div>
        <p *ngSwitchCase="'Docs'">This is green.</p>
        <p *ngSwitchDefault>This is some other color.</p>
    </div>

    <!-- custom padding to stop scrollable from overflowing out -->
    <div class="py-1"></div>
</div>