.chat-details-header {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1px solid rgb(192, 192, 192);
}

.chat-header-title {
  font-weight: 700;
  font-size: large;
  cursor: default;
}

.media-scroll{
  overflow-y: auto;
  overflow-x: hidden;
}

.media-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}