<div class="d-flex w-100">
    <app-custom-card class="w-25 ml-1 mr-2" [height]="50">
        <div>hehehehehe</div>
    </app-custom-card>
    <app-custom-card [height]="50" class="w-auto flex-grow">
        <app-chat-window class="h-100 d-flex flex-grow" [onMediaClick]="setShowMediaDetails" [onChatDetailsClick]="setShowChatDetails"></app-chat-window>
    </app-custom-card>
    <div class="d-flex flex-col justify-between w-25 ml-2 mr-1" *ngIf="showChatDetails || showMediaDetails">
        <app-custom-card *ngIf="showChatDetails" [onClose]="setShowChatDetails" [height]="showMediaDetails ? 24.4 : 50">
            <app-chat-detail-window (click)="setShowChatDetails(false)" ></app-chat-detail-window>
        </app-custom-card>
        <app-custom-card *ngIf="showMediaDetails" [onClose]="setShowMediaDetails" [height]="showChatDetails ? 24.4 : 50">
            <app-chat-media-window (click)="setShowMediaDetails(false)"></app-chat-media-window>
        </app-custom-card>
    </div>
</div>