/* You can add global styles to this file, and also import other style files */
html {
  background-color: #e4dbfd;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-15 {
  width: 15%;
}

.justify-end {
  justify-content: end;
}

.ml-1 {
  margin-left: 0.5rem;
}

.mr-1 {
  margin-right: 0.5rem;
}
.mt-1 {
  margin-top: 0.5rem;
}
.mb-1 {
  margin-bottom: 0.5rem;
}

.icon-padding {
  padding: 0.75rem;
}

.border-rounded {
  border-radius: 50%;
}

.relative {
  position: relative;
}

.pointer {
  cursor: pointer;
}
